includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - lang/
        - routes/
        - src/
        - tests/

    excludePaths:
        - bootstrap/cache/*

    # Level 9 is the highest level
    level: 5
